h1{
font-family: Tahoma;
letter-spacing: 1px;
text-transform: uppercase;
text-align: center;
}
img{
	border-style: solid;
	border-color: #1C1010;
	border-radius:50px;
	width: 300px;height: 300px;
    padding:20px;
    opacity: .75;
}
p{
	font-family: Alice;
	text-indent: 25px;
	color: black;
	float: center
}
body{
	background-color:#FFFFFF;
}